// TODO: dark mode

$base-border-color: #363637;

$base-bg-color: #141414;
.page-card {
  --page-card-padding: 14px;
  --page-card-border-color: #e4e7ed;
  --page-card-bg-color: white;
}

html.dark {
  .page-card {
    --page-card-bg-color: var(--global-bg-color-2, $base-bg-color);
    --page-card-border-color: var(--global-border-color, $base-border-color);
  }
}

.page-card {
  background-color: var(--page-card-bg-color);

  display: flex;
  flex-direction: column;

  &.is-full {
    height: 100%;
  }

  &__header {
    padding: var(--page-card-padding);
    border-bottom: 1px solid var(--page-card-border-color);
    flex-shrink: 0;
    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__body {
    flex: 1;
    padding: var(--page-card-padding);
  }
}
