<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="<%= BASE_URL %>logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= VITE_APP_TITLE %></title>
  </head>

  <body>
    <div id="app">
      <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>loading.css" />
      <div class="app-loading">
        <div class="app-loading-wrap">
          <img src="<%= BASE_URL %>logo.svg" class="app-loading-logo" alt="Logo" />
          <div class="app-loading-dots">
            <span class="dot dot-spin"><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="app-loading-title"><%= VITE_APP_TITLE %></div>
        </div>
      </div>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
