:root {
  --nprogress-bar-bg-color: var(--el-color-primary);
  --nprogress-bar-default-bg-color: '#29d';
  /** 全局背景色 */
  --global-bg-color: #f2f3f5;
  --global-bg-color-2: white;
}

html.dark {
  --global-bg-color: #17171a;
  --global-bg-color-2: #141414;
  --global-border-color: #363637;
  --global-text-color-regular: var(--el-text-color-regular, #cfd3dc);
}
