html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: var(--global-bg-color);
}

#nprogress .bar {
  background: var(--nprogress-bar-bg-color, var(--nprogress-bar-default-bg-color)) !important;
}

html.dark {
  body {
    background-color: var(--global-bg-color);
  }
}
