.el-menu {
  --global-menu-radius: 5px;
  --global-menu-active-text-color: white;
  --el-menu-sub-item-height: calc(var(--el-menu-item-height) - 3px);
  --el-menu-item-height: 42px;

  &--vertical {
    .el-sub-menu {
      &__title {
        border-radius: var(--global-menu-radius);
      }
    }
    .el-menu-item {
      border-radius: var(--global-menu-radius);
      &.is-active {
        background-color: var(--el-menu-active-color) !important;
        color: var(--global-menu-active-text-color) !important;
      }
    }
  }
}

.el-menu {
  border-right: unset !important;
}

.el-menu-item.is-active {
  background-color: var(--el-menu-hover-bg-color);
}

.el-sub-menu__title:hover {
  // background-color: unset;
  color: var(--el-menu-active-color);
}

.el-menu-item:hover {
  color: var(--el-menu-active-color);
}
