.el-menu {
  --global-menu-radius: 7px;
  --global-menu-active-text-color: white;

  .el-sub-menu {
    &__title {
      border-radius: var(--global-menu-radius);
    }
  }
  .el-menu-item {
    border-radius: var(--global-menu-radius);
    &.is-active {
      background-color: var(--el-menu-active-color) !important;
      color: var(--global-menu-active-text-color) !important;
    }
  }
}
