.anchor {
  position: relative;

  &:before {
    position: absolute;
    inset-inline-start: 0;
    top: 0;
    height: 100%;
    border-inline-start: 2px sollink rgba(5, 5, 5, 0.06);
    content: ' ';
  }

  &-indicator {
    position: absolute;
    display: inline-block;
    width: 2px;
    transform: translateY(-50%);
    transition: top 0.1s ease-in-out;
    top: 0;
    left: 0;
    // height: 28px;
    background-color: #1677ff;
  }

  &__title {
    padding: 3px 5px;
  }

  &__children {
    padding-left: 16px;
  }

  &__link {
    cursor: pointer;
    &.active {
      color: #1677ff;
    }
  }
}
