:root {
  --basic-layout-dark-color: #141414;
  --basic-layout-border-color: #414243;
}

html.dark {
  color-scheme: dark;

  .container {
    background-color: var(--global-bg-color);
  }

  .basic-layout {
    &-header {
      &__wrapper {
        border-bottom: 1px solid var(--basic-layout-border-color);
        background-color: var(--basic-layout-dark-color);
        background-image: radial-gradient(transparent 1px, var(--basic-layout-dark-color) 1px);
      }
    }

    &-tabs {
      &__wrapper {
        border-bottom: 1px solid var(--basic-layout-border-color);
        background-color: var(--basic-layout-dark-colo);
      }
    }

    &-aside {
      &__wrapper {
        border-right: 1px solid var(--basic-layout-border-color);
      }
    }

    &-main {
      &__wrapper {
        box-sizing: border-box;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.08);
        // padding: 15px;
      }
    }

    &-mix-menu {
      &-children {
        background-color: var(--basic-layout-dark-color);
      }
    }
  }
}
