.el-container {
    height: 100%;
  }

  .el-container {
    height: 100% !important;
    background-color: white;
  }
  .el-aside {
    height: 100%;
    width: 200px;
    transition: width 0.2s;
    overflow: hidden;
    // background-color: #304156 !important;
  }

  .el-main {
    padding: 0 !important;
    box-sizing: border-box;
    background-color: #f0f2f5;
    /* background-color: #f0f2f5; */
  }

  .el-header {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    padding: 0;
  }


  .el-menu {
      border-right: unset;
  }
