.el-container {
  height: 100%;
}

.el-container {
  height: 100% !important;
  background-color: white;
}
.el-aside {
  height: 100%;
  width: 200px;
  transition: width 0.2s;
  overflow: hidden;
  // background-color: #304156 !important;
}

.el-main {
  padding: 0 !important;
  box-sizing: border-box;
  background-color: #f0f2f5;
  /* background-color: #f0f2f5; */
}

.el-header {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  padding: 0;
}

.el-menu {
  border-right: unset;
}

.el-button--primary {
  --el-button-bg-color: var(--el-color-primary) !important;
  --el-button-border-color: var(--el-color-primary) !important;
  --el-button-hover-bg-color: var(--el-color-primary-light-2) !important;
  --el-button-hover-border-color: var(--el-color-primary-light-2) !important;
  --el-button-active-border-color: var(--el-button-active-border-color) !important;
  --el-button-active-bg-color: var(--el-button-active-bg-color) !important;

  --el-button-active-bg-color: var(--el-color-primary-light-1) !important;
  --el-button-active-border-color: var(--el-color-primary-light-1) !important;
}

.el-menu {
  --el-menu-item-height: 46px;
}

:deep(.el-menu-item.is-active) {
  background-color: var(--el-menu-hover-bg-color);
}

:deep(.el-sub-menu__title:hover) {
  // background-color: unset;
  color: var(--el-menu-active-color);
}

:deep(.el-menu-item:hover) {
  color: var(--el-menu-active-color);
}

:deep(.el-sub-menu .el-menu-item) {
  height: 43px;
  line-height: 43px;
  padding: 0 45px;
  min-width: 200px;
}
