:root {
  --nprogress-bar-bg-color: var(--el-color-primary);
  --nprogress-bar-default-bg-color: '#29d';

  /* --el-border-radius-base: 0 !important; */
  --el-box-shadow-light: 0 1px 4px rgb(0 21 41 / 8%) !important;
  /* --el-popover-border-radius: 0; */
  --el-menu-item-height: 46px !important;
}